// contiene estilos base o configuraciones iniciales que se usan en todo el proyecto

@use '../utils' as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background: var(--color-bg);
  color: var(--color-text);
}

img {
  display: block;
  max-width: 100%;
}

/* Respecta usuarios con reduce motion */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}